.DS_Store
.idea
.idea/*
.vscode/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log

runs/
outputs/
cache_dir/

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


# *.txt
*.h5

# data
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
*.zip
*.json
*.png

data/cifar10/*-python
data/cifar100/*-python
data/cinic10/

data/MNIST/train
data/MNIST/test
data/text_classification/shakespeare/train
data/text_classification/shakespeare/test
data/stackoverflow/datasets

data/

# android
.gradle
fedml_mobile/android/.idea
fedml_mobile/android/app/build
fedml_mobile/android/fedml-iot-sdk/build
fedml_mobile/android/build

mimiconda.sh


data/fednlp/*

*.npz

experiments/centralized/transformer_exps/output/*
experiments/distributed/transformer_exps/output/*
experiments/distributed/transformer_exps/*/tmp/fedml
experiments/centralized/transformer_exps/tmp/fedml
